<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL-Shortener-SignUp</title>
</head>
<body>
    <h1>LogIn</h1>
    <form method="POST" action="/user/login">
        <label>Email</label>
        <input type="email" name="email" required><br><br>
        <label>Password</label>
        <input type="password" name="password" required><br><br>
        <button type="submit">LogIn</button>
    </form>
</body>
</html>